body {
	background-color: #FAF4F4;

  margin: 80px auto;
  padding: 0 10%;
  max-width: 1100px;

  font-family: Mononoki, Open Sans, Sans, Arial;
  text-align: left;
  line-height: 1.5em;
  font-size: 1.1em;
  color: #454545;
}

h1 {
	background-color: #F8F8FF;
  padding: 1em;

	font-variant: small-caps;
  text-align: center;
  line-height: 1em;
	font-size: 2em;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

p {
  text-indent: 2em;
}

img {
  margin: 10px 50px 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.column {
  display: grid;
  float: right;
}

.odd {
  float: left;
}

.even {
  float: right;
}

section {
  overflow: auto;
  margin: 60px 0 20px;
}
